/* ................. */
.banner {
  position: relative;
  height: 100%;
}
.banner-images {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-images img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner-images img.active {
  opacity: 1;
}

.banner-index {
  position: absolute;
  bottom: 0;
  left: 90%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.banner-index span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.banner-index span.active {
  background-color: #ccc;
}

.banner-index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
/* ................. */
